.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}


nav li{display: inline; padding-top: 22px; padding-bottom: 20px; padding-left: 12px; padding-right: 12px;}
nav { 
    padding-top: 1px;
    padding-bottom: 2px;
    background-color: lightblue;
    }
nav li a{color: red; font-size: 22;}
nav li:hover {background-color: lightskyblue;}
input{border-radius: 10%;}
body{
    background-color: lightcyan;
    color: rgb(153, 0, 153);
}