.alert-success {
    background-color: rgb(13, 164, 13);
}

.alert-warning {
    background-color: rgb(237, 237, 77);
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: rgb(9, 152, 152);
}


nav li{display: inline; padding-top: 22px; padding-bottom: 20px; padding-left: 12px; padding-right: 12px;}
nav { 
    padding-top: 1px;
    padding-bottom: 2px;
    background-color: lightblue;
    }
nav li a{color: red; font-size: 22;}
nav li:hover {background-color: lightskyblue;}

form {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: black;
    border-radius: 10px;
    border-style: solid;
}

label {
    margin-left: 5px;
}

input{
    border-radius: 10%;
    padding-left: 2px;
}

div {
    margin: 2px;
}

body{
    background-color: lightcyan;
}